<% title = ["L","y","r","i","c","a","l","M","i","r","a","c","l","e"]%>

<div class="container">
	<div id="index-title-container">
		<% title.each_with_index do |chr, idx| %>
		<% if idx == 0 || idx == 7 %>
			<div class="index-title-chunk"> 
		<%end%>
		<span class="index-title" id="index-title-<%=idx%>"><%=chr%></span>
		<% if idx == 6 || idx == 13 %>
			</div> 
		<%end%>
		<% end %>
	</div>
	<h3>Discover the meaning of lyrics, add what you know, and see what others are saying. Get started by browsing all songs, searching for your favorite,
        <a class="accordion-toggle intro-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          or watching a short introduction
        </a>.
	</h3>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
<iframe width="640" height="480" src="//www.youtube.com/embed/_u964a0f38s" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</div>


<script>
$(document).ready(function () {
	for(var i = 0; i < 14; i++) {
		$('#index-title-' + i).on('mouseover', function () {
			var colors = ['red', 'yellow', 'pink', 'green', 'blue'];
			var rand = Math.floor(Math.random() * 6);
			$(this).attr("class", "index-title " + colors[rand]);
		});
	}
})
</script>