<% @songs.sort_by! { |song| song.title }%>
<div class="container">
	
	<h1><%= @is_search.nil? ? "All Songs" : "Search Results" %></h1>
	<h4>
		<ul class="list-unstyled">
			<% @songs.each do |song| %>
			<li><%= link_to song.title, song_url(song) %> by <%= song.artist %></li>
			<% end %>
		</ul>
	</h4>
</div>



