<% @songs.sort_by! { |song| song.title }%>
<div class="container">
	
	<% if @is_search.nil? %>
		<h1>All Songs</h1>
	<% else %>
		<h1>Search Results for <em>'<%= @query %>'</em></h1>
	<% end %>
	<h4>
		<ul class="list-unstyled">
			<% @songs.each do |song| %>
			<li><%= link_to song.title, song_url(song) %> by <%= song.artist %></li>
			<% end %>
		</ul>
	</h4>
</div>



